<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 chat-sidebar">
      <h1 class="page-header">Chatrooms:</h1>
      <p>Add a new room:</p>
      <form>
        <input ng-model="newChatroomText" /></input>
          <button type="submit" data-ng-click="addRoom()">Add Room</button>
      </form>
      <p>Enter your user name:</p>
      <form>
        <input ng-model="newUserName" /></input>
          <button type="submit" data-ng-click="changeUserName()">User Name</button>
      </form>
        
      <div ng-include="'app/partials/my-chatroom-list.html'"></div>
      
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Current Chatroom: {{activeRoom}} </h2>

        <form>
          <span>User Name: {{ currentUser }} </span><input type="text" ng-model="newContent" /></input>
          <button type="submit" data-ng-click="addMessage()">Add Message</button>
        </form>
        <p>{{ newContent | ordinal}}</p>

        <ul class="show-chat-text"> 
          <li ng-repeat="line in messagesList | filter:{roomId:activeRoom}:containsComparator "> <strong>Name:</strong> {{ line.name }} <strong>Message:</strong> {{ line.content }} <strong>Room:</strong> {{ line.roomId }} <strong>Time Sent:</strong> {{ line.sentAt }} </li>
        </ul>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
